services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Derhansen\MfaYubikey\:
        resource: '../Classes/*'

    Derhansen\MfaYubikey\Command\CheckYubiKeyOtpCommand:
        tags:
            - name: 'console.command'
              command: 'mfa_yubikey:checkyubikeyotp'
              schedulable: true

    Derhansen\MfaYubikey\Authentication\Mfa\Provider\Yubikey\YubikeyProvider:
        tags:
            - name: mfa.provider
              identifier: 'yubikey'
              title: 'LLL:EXT:mfa_yubikey/Resources/Private/Language/locallang.xlf:yubikey.title'
              description: 'LLL:EXT:mfa_yubikey/Resources/Private/Language/locallang.xlf:yubikey.description'
              setupInstructions: 'LLL:EXT:mfa_yubikey/Resources/Private/Language/locallang.xlf:yubikey.setupInstructions'
              icon: 'ext-sfyubikey-icon'
